@use "scss/themes" as t;

@include t.createColors();

@font-face{
  font-family: "VAG";
  src: url("/src/assets/fonts/vagroundcyrillic.woff2") format("woff2");
}

* {
  font-family: "VAG";
}

h1, h2, h3, h4, h5, h6 {
  margin-top: auto;
  margin-bottom: auto;
}

:root{
  --padding: 10px;
  --margin: 10px;
  --border-radius: 10px;
  --border-width: 2px;
}

body{
  background-color: var(--c-back-1);
  color: var(--c-text);
}